/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-select-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-input, .month-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 45%;
    font-size: 16px;
}

#transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#transactions-table th, #transactions-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

#transactions-table th {
    background-color: #f2c94c;
    color: #333;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px;
    background-color: #f2c94c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

#page-number {
    font-size: 16px;
}
